<div class="container-fluid justify-content-center align-items-center m-0 p-0 vh-100 vw-100">
    <div>
        <h1 class="texto display-1 fw-bolder text-white">ERROR 404 NOT FOUND</h1>
    </div>
    <div>
        <div class="balloon-box balloon-circle">
            <h1 class="balloon-text text-white">Está perdido amigo? Clique no meu focinho para voltar pra casa</h1>
        </div>        
        <a routerLink="/"><button type="button" class="botaoInvisivel"></button></a>
        <img class="img-thumbnail border-0 m-0 p-0 vh-100 vw-100" src="../../../assets/deserto.jpg" alt="Cão guia oferecendo a volta pra casa">
    </div>
</div>