.navbar{
    height: 65px;
    position: fixed;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Botoes{
    padding: 10px;
}

.Botoes button{
    margin: 0px 5px 0px 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: whitesmoke;
}

.rodape{
    position: fixed;
    bottom:0%;
}