<nav class="navbar navbar-dark bg-light p-0 m-0 justify-content-start">
    <div class="logo ms-2 mb-3 p-2">
        <a href="/"><img class="text-white" src="../assets/entra21.ico" alt="Logo Entra21/Início" width="150" height="50"></a>
    </div>
    <div>
        <ul class="d-flex ms-0 ps-0" type="none">
            <li><button type="button" class="btn btn-light pt-3 pb-3 fs-5"><a class="fw-bold text-decoration-none text-secondary" routerLink="/login">Login</a></button></li>
            <li><button type="button" class="btn btn-light pt-3 pb-3 fs-5"><a class="fw-bold text-decoration-none text-secondary" routerLink="/contato">Contato</a></button></li>
        </ul>
    </div>
</nav>
    <router-outlet></router-outlet>
<footer class="rodape bg-light text-center text-lg-start w-100">
    <div class="text-center p-3 mb-2 border-top">
        <div class="d-flex flex-row justify-content-around w-100 align-items-end ">
          <div class="d-flex flex-row align-items-baseline justify-content-around w-100">
            <div>
              <h6 class="copyright text-secondary fw-normal">© 2022 Company, Inc</h6>
            </div>
            <div>
              <a href="https://www.facebook.com/Jeaan.v" target="_blank" class="me-4 link-grayish"><img src="../assets/iconefacebook.png" alt="Icone Facebook" width="40" height="30">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.instagram.com/jeanrocha1.0/" target="_blank" class="me-4 link-grayish"><img src="../assets/iconeinstagram.png" alt="Icone Instagram" width="40" height="30">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/jean-da-rocha-vertuoso/" target="_blank" class="me-4 link-grayish"><img src="../assets/iconelinkedin.png" alt="Icone LinkedIn" width="40" height="30">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://wa.me/5548998146654" target="_blank" class="me-4 link-grayish"><img src="../assets/iconewhatsapp.png" alt="Icone Whatsapp" width="40" height="30">
                <i class="fab fa-whatsapp"></i>
              </a>
              <a href="https://github.com/Jean-Vertuoso" target="_blank" class="me-4 link-grayish"><img src="../assets/iconegithub.png" alt="Icone GitHub" width="40" height="40">
                <i class="fab fa-github"></i>
              </a>
              <a href="mailto:jean_b123@hotmail.com" target="_blank" class="me-4 link-grayish"><img src="../assets/iconeemail2.png" alt="Icone Email" width="31"   height="31">
                <i class="fab fa-email"></i>
              </a>
            </div>
          </div>
        </div>
    </div>
</footer>